
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Ingresar</h3>
            </div>
            <img src="/images/Icon-Color-Max.png" class="mx-auto d-block m-4 logo" style="width: 100px;" alt="logo">
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" autocomplete="off"  autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Entrar
                        </button>
                    </div>
                </form>
                    <a  href="/signup">No estas registrado? Registarme</a>
                    <br>
                    <a  href="/forgot">Olvidaste tu contarseña?</a>
            </div>
        </div>
    </div>
</div>