<nav id="sidebar" class="border border-primary">
    <div class="list-group" id="myMenu">
      <a class="list-group-item list-group-item-action" id="itemMain" href="/app" >Inicio</a>
      {{#equal role  "admin"}}
      <a class="list-group-item list-group-item-action" id="itemAddNode" href="/app/viewNewNode">Añadir Nuevo Nodo</a>
      <a class="list-group-item list-group-item-action" id="itemRoutes" href="/app/viewRoutes">Rutas de Recolección </a>
      <a class="list-group-item list-group-item-action" id="itemClients" href="/app/viewClients">Clientes </a>
      <a class="list-group-item list-group-item-action" id="itemWorkers" href="/app/viewWorkers">Trabajadores </a>
      {{/equal}}
    </div>
</nav>

<button type="button" id="btnSidebar" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
</button>
<script defer src="/static/javascripts/app/sidebar.js"></script>
