<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="nav-item active">
          <a class="nav-link" href="app/">Principal</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="app/newCustomer">Añadir Cliente<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="app/newNode">Añadir Nodo<span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a href="#homeSubmenu" class="nav-link" data-toggle="collapse">Pages</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a class="nav-link" href="#">Item1 <span class="sr-only">(current)</span></a></li>
                <li><a class="nav-link" href="#">Page <span class="sr-only">(current)</span></a></li>
            </ul>
        </li>
    </ul>
</nav>
