<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/Icon-Color-180.png">
    <title>Limpo - Unidos por el planeta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    {{#if user}}
    <link rel="stylesheet" href="/static/stylesheets/control.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
    <link rel="stylesheet" href="/static/stylesheets/sidebar.css">   
    {{/if}}
    <link rel="stylesheet" href="/static/stylesheets/index.css">
    <link rel="stylesheet" href="/static/stylesheets/slider.css">
</head>
<body>
    <div class="wrapper">
        {{{body}}}
    </div>
</body>
</html>