body {
    margin: 0px;
    padding: 0px;
}

#content-global {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#map-template {
    width: 84vw;
    height: 60vh;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.route-items {
    position: relative;
    right: 0;
    left: 0;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .map-autocomplete{
    z-index: 0;
  }