:root {
    --color--verde-principal: #50BC28;
    --color-azul-principal: #25 3C99;
    --color-blanco-principal: #fffffe;
}

.container-btnSidebar{
    position: fixed;
    top: 85vh;
    left: 2vw;
    z-index: 200;
}

#btnSidebar {
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 1000;
}

#btnSidebar span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: var(--color-azul-principal);
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#btnSidebar span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#btnSidebar span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#btnSidebar span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#btnSidebar.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

.list-group-item.active {
    color: #fff !important;
    background-color: var(--color-azul-principal) !important;
    border-color: var(--color-azul-principal) !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--color-blanco-principal);
    color: black;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
    /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #btnSidebar span:first-of-type,
    #btnSidebar span:nth-of-type(2),
    #btnSidebar span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #btnSidebar.active span {
        margin: 0 auto;
    }
    #btnSidebar.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #btnSidebar.active span:nth-of-type(2) {
        opacity: 0;
    }
    #btnSidebar.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}