<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h1>Hola {{user.name}}</h1>
                <br>
                <h3>Estamos Trabajando en esto</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-2">
        </div>
    </div>
</div>