<div class="bc-verde pb-4">

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active"
          style="background-image:  linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/img/banner/banner1.jpg'); background-size: cover; ">

          <div class="carousel-caption ">
            <div class="my-4 mx-5">
              <h4 class="text-center mb-3">¿Qué es GETS?</h4>
              <p>Este grupo fue creado en el año 1997. Es reconocido en la actualidad como grupo
                A1 por Colciencias. El
                grupo cuenta con 41 productos de investigación de los cuales 22 son publicaciones en revistas indexadas
                y
                con revisión por pares, 10 de ellas revistas internacionales.</p>
            </div>

          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item"
          style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url('/img/banner/banner2.jpg'); background-size: cover; ">
           <div class="carousel-caption ">
            <div class="my-4 mx-5">
              <h4 class="text-center mb-3">¿Qué es GETS?</h4>
              <p>Este grupo fue creado en el año 1997. Es reconocido en la actualidad como grupo
                A1 por Colciencias. El
                grupo cuenta con 41 productos de investigación de los cuales 22 son publicaciones en revistas indexadas
                y
                con revisión por pares, 10 de ellas revistas internacionales.</p>
            </div>

          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item"
          style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url('/img/banner/banner3.jpg'); background-size: cover; ">
           <div class="carousel-caption ">
            <div class="my-4 mx-5">
               <h4 class="text-center mb-3">¿Qué es GETS?</h4>
              <p>Este grupo fue creado en el año 1997. Es reconocido en la actualidad como grupo
                A1 por Colciencias. El
                grupo cuenta con 41 productos de investigación de los cuales 22 son publicaciones en revistas indexadas
                y
                con revisión por pares, 10 de ellas revistas internacionales.</p>
            </div>

          </div>
        </div>
        <!-- Slide Four - Set the background image for this slide in the line below -->
        <div class="carousel-item"
          style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url('/img/banner/banner4.jpg'); background-size: cover; ">
           <div class="carousel-caption ">
            <div class="my-4 mx-5">
               <h4 class="text-center mb-3">¿Qué es GETS?</h4>
              <p>Este grupo fue creado en el año 1997. Es reconocido en la actualidad como grupo
                A1 por Colciencias. El
                grupo cuenta con 41 productos de investigación de los cuales 22 son publicaciones en revistas indexadas
                y
                con revisión por pares, 10 de ellas revistas internacionales.</p>
            </div>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>


  <div class="container pt-5">

    <!-- Investigacion -->
    <div class="row my-4">



      <div class="col-lg-6 ">
        <h2 class="my-4">Investigación</h2>
        <p class="text-justify">El Grupo de Evaluación de Tecnologías y Políticas en salud realiza activvidades de
          investigación, formación y extensión a través de sus diversas líneas de acción. En el periodo 2018 - 2020, a
          través del desarrollo de estudios primarios y secundarios, el Grupo se enfocará en las siguientes lineas de
          investigación:
          <ul>
            <li>Estudios integrativos y Guías de Práctica Clínica</li>
            <li>Evaluación de Tecnologías Diagnósticas </li>
            <li>Evaluación de tecnologías Terapéuticas</li>
            <li>Seguridad del paciente</li>
            <li>Sistemas de Gestión de Riesgo</li>
          </ul>
          <a href="/investigacion/publicaciones" class="btn btn-success mb-4"> Investigacion y publicaciones</a>
      </div>

      <div class="col-lg-6 text-center align-content-center mt-5 d-none d-sm-none d-md-block">
        <img class="img-fluid rounded" src="/img/home/investigacion2.jpg" style="width: 450px;" alt="">
      </div>


    </div>
    <!-- /. FIN INESTIGACION -->


    <!-- INTEGRANTES -->
    <div class="row mb-4 mt-5 pt-3">
    
      <div class="col-lg-6 ">
        <img class="img-fluid rounded " src="/img/home/investigacion3.jpg" style="width: 450px;" alt="">
      </div>

        <div class="col-lg-6">
        <h2 class="my-4">Integrantes</h2>
        <p class="text-justify">
          Debido a la diversas perspectivas con las cuales deben ser abordados los problemas en salud, el Grupo ha
          vinculado a
          expertos en diversas áreas relacionadas con la salud de las personas y expertas en la realización de estudios
          económicos, enriqueciendo la evaluación de tecnologías sanitaroas mediante la creación de una evaluación de
          éstas desde la pespectiva de la costo efectividad y costo oportunidad.
        </p>
        <a href="/integrantes" class="btn btn-success mb-5">Integrantes</a>
      </div>
      
    </div>
    <!-- /.FIN INTEGRANTES -->

  </div>

























</div>
<!-- /.container -->