<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb mt-5">
        <li class="breadcrumb-item">
            <a href="/">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Investigación</li>
    </ol>


    <div class="card px-5 py-5 my-5 border-success">


                <!-- Features Section -->
                <div class="row my-4">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Proyecto 1</h2>
                        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas tempora
                            debitis labore
                            recusandae magni quo
                            illum laudantium nobis veritatis, architecto voluptas. Fuga, dolore. Ad sint eum earum
                            molestiae
                            sit velit,
                            voluptate quod deleniti voluptatum voluptates, maiores qui tempora modi culpa?
                        </p>
                        <a href="/integrantes" class="btn btn-success"> Leer más</a>
                    </div>
                    <div class="col-lg-6 text-center align-content-center">
                        <img class="img-fluid rounded" src="/img/home/integrantes.PNG" alt="">
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Features Section -->
                <div class="row my-4">
                    <div class="col-lg-6 text-center align-content-center">
                        <img class="img-fluid rounded" src="/img/home/integrantes.PNG" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="mb-4">Proyecto 2</h2>
                        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas tempora
                            debitis labore
                            recusandae magni quo
                            illum laudantium nobis veritatis, architecto voluptas. Fuga, dolore. Ad sint eum earum
                            molestiae
                            sit velit,
                            voluptate quod deleniti voluptatum voluptates, maiores qui tempora modi culpa?
                        </p>
                        <a href="/integrantes" class="btn btn-success"> Leer más</a>
                    </div>
                </div>
                <!-- /.row -->




            </div>


    </div>


</div>