<!--/ footer Star /-->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 d-none d-sm-none d-md-block">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand"> <strong class="color-b">GETS</strong></h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a text-justify">
              Este grupo fue creado en el año 1997. Es reconocido en la actualidad como grupo A1 por Colciencias. El
              grupo cuenta con 41 productos de investigación de los cuales 22 son publicaciones en revistas indexadas y
              con revisión por pares, 10 de ellas revistas internacionales.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 offset-md-1 col-md-3 section-md-t3 ">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Enlaces</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="/">Inicio</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="/integrantes">Integrantes</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="/investigacion">Investigacion</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="/foro">Foro</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="/contacto">Contácto</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Contáctenos</h3>
          </div>
          <div class="w-body-a">
            <p>
              <strong>Dirección:</strong><br>
              Calle 45 # 26 - 0 <br><br>
              <strong>Teléfono:</strong><br>
              +(57) 468-154-652<br><br>
              <strong>Email:</strong><br>
              getscorreo@unal.edu.co<br>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">Grupo GETS</span> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/ Footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>