<div class="container">
    <div class="text-center">
        <h3>Configura las Rutas</h3>
    </div>
    <div class="col-9 mx-auto">
        </br>
        <div class="row">
            <div class="col-12">
                <b>Selecciona Rutas</b>
                <div class="form-group">
                    <select id="zone" name="zone" class="form-control">
                        <option value="" disabled selected hidden>Localidad</option>
                        <option value="1">Usaquen</option>
                        <option value="2">Chapinero</option>
                        <option value="3">Santa Fe</option>
                        <option value="4">San Cristobal</option>
                        <option value="5">Usme</option>
                        <option value="6">Tunjuelito</option>
                        <option value="7">Bosa</option>
                        <option value="8">Kennedy</option>
                        <option value="9">Fontibón</option>
                        <option value="10">Engativa</option>
                        <option value="11">Suba</option>
                        <option value="12">Barrios Unidos</option>
                        <option value="13">Teusaquillo</option>
                        <option value="14">Los Martires</option>
                        <option value="15">Antonio Nariño</option>
                        <option value="16">Puente Aranda</option>
                        <option value="17">La Candelaria</option>
                        <option value="18">Rafael Uribe Uribe</option>
                        <option value="19">Ciudad Bolivar</option>
                    </select>
                </div>
            </div>
        </div>
        <b>Capacidad</b>
        <div class="row mt-2">
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <input type="number" min="0" max="20" class="form-control" id="capacity" value="" disabled>
                </div>
            </div>
        </div>
        <b>Ubicación Parqueadero</b>
        <div class="row">
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Latitud</label>
                    <input type="number" class="form-control" id="startLat" value="" disabled>
                </div>
            </div>
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Longitud</label>
                    <input type="number" class="form-control" id="startLon" value="" disabled>
                </div>
            </div>
        </div>
        <b>Ubicación Empresa de Recolección</b>
        <div class="row">
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Latitud</label>
                    <input type="number" class="form-control" id="endLat" value="" disabled>
                </div>
            </div>
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Logitud</label>
                    <input type="number" class="form-control" id="endLon" value="" disabled>
                </div>
            </div>
        </div>
        <b>Ubicación Central</b>
        <div class="row">
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Latitud</label>
                    <input type="number" class="form-control" id="centerLat" value="" disabled>
                </div>
            </div>
            <div class="col-mg-12 col-lg-6">
                <div class="form-group">
                    <label class="col-form-label">Logitud</label>
                    <input type="number" class="form-control" id="centerLon" value="" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5 mx-auto">
                <button type="submit" id="btnEdit" class="btn btn-primary btn-block" disabled>
                    Entrar
                </button>
            </div>
        </div>
    </div>
</div>
{{>scripts}}
<script defer type="module" src="/static/javascripts/app/admin/configRoutes.js"></script>