<div class="container">
    <section class="py-5 pl-sm-5">
        <div class="col-lg-8 mx-auto">
            <div class="card border-success mt-5">
                <div class="card-body">
                    <h3 class="text-center color-b font-weight-bold"> Nuevo Trabajador</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="name" name="name" id="name" class="form-control" placeholder="Nombre"
                                    autocomplete="off">
                                <div class="invalid-feedback" id="feedback-email">
                                    Nombre debe empezar en mayuscula seguido de minuscula
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="lastName" name="lastName" id="lastName" class="form-control"
                                    placeholder="Apellido" autocomplete="off">
                                <div class="invalid-feedback" id="feedback-email">
                                    Apellido debe empezar en mayuscula seguido de minuscula
                                </div>
                            </div>
                            <div class="form-group">
                                <select id="zone" name="zone" class="form-control">
                                    <option value="" disabled selected hidden>Localidad</option>
                                    <option value="1">Usaquen</option>
                                    <option value="2">Chapinero</option>
                                    <option value="3">Santa Fe</option>
                                    <option value="4">San Cristobal</option>
                                    <option value="5">Usme</option>
                                    <option value="6">Tunjuelito</option>
                                    <option value="7">Bosa</option>
                                    <option value="8">Kennedy</option>
                                    <option value="9">Fontibón</option>
                                    <option value="10">Engativa</option>
                                    <option value="11">Suba</option>
                                    <option value="12">Barrios Unidos</option>
                                    <option value="13">Teusaquillo</option>
                                    <option value="14">Los Martires</option>
                                    <option value="15">Antonio Nariño</option>
                                    <option value="16">Puente Aranda</option>
                                    <option value="17">La Candelaria</option>
                                    <option value="18">Rafael Uribe Uribe</option>
                                    <option value="19">Ciudad Bolivar</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="name" name="user" id="user" class="form-control" placeholder="Usuario"
                                    autocomplete="off">
                                <div class="invalid-feedback" id="feedback-email">
                                    Usuario debe ir en minuscula puede contener numeros
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                                    autocomplete="off">
                                <div class="invalid-feedback" id="feedback-email">
                                    El correo es invalido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSend" class="btn btn-primary btn-block">
                            Regristrar
                        </button>
                    </div>
                </div>
            </div>
    </section>
</div>
<script defer src="/static/javascripts/app/admin/addWorker.js"></script>