<div class="container  h-100">
    <section class="py-5 pl-sm-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="card border-success mt-5">
                <div class="card-body">
                    <h3 class="text-center color-b font-weight-bold"> Pide Ruta</h3>

                    <div class="row">
                        <div class="col-lg-12">

                            <form>
                                <div class="form-group">
                                    <input type="number" name="zone" id="zone" min="1" max="20" class="form-control"
                                        placeholder="Zona" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button id="btnSubmit" class="btn btn-success btn-block">OtenerRuta</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<script defer src="/static/javascripts/app/admin/viewRoute.js"></script>