<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/iot/viewRoute">Usaquén</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Chapinero</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Santa Fe</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">San Cristobal</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Usme</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Tunjuelito</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Bosa</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Kennedy</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Fontibon</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Engativa</a></h4>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Suba</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Barrios Unidos</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Teusaquillo</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Los martires</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Antonio nariño</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Puente aranda</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">La candelaria</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Rafael Uribe </a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Ciudad Bolivar</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/">Sumapaz</a></h4>
                </div>
            </div>
        </div>
    </div>