<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/1">Usaquén</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/2">Chapinero</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/3">Santa Fe</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/4">San Cristobal</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/5">Usme</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/6">Tunjuelito</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/7">Bosa</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/8">Kennedy</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fceef3;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/9">Fontibon</a></h4>
                    <p class="description text-justify"></p>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/10">Engativa</a></h4>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/11">Suba</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/12">Barrios Unidos</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/13">Teusaquillo</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/14">Los martires</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/15">Antonio nariño</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/16">Puente aranda</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/17">La candelaria</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/18">Rafael Uribe </a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/19">Ciudad Bolivar</a></h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 py-4" data-wow-duration="1.4s">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <div class="icon" style="background: #fff0da;">
                    </div>
                    <h4 class="title pb-3 text-center mt-3"><a href="/app/viewZones/20">Sumapaz</a></h4>
                </div>
            </div>
        </div>
    </div>

