<div class="container  h-100">
    <section class="py-5 pl-sm-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="card border-success mt-5">
                <div class="card-body">
                    <h3 class="text-center color-b font-weight-bold"> Nuevo Nodo</h3>

                    <div class="row">
                        <div class="col-lg-12">

                            <form>
                                <div class="form-group">
                                    <input type="text" name="eui" id="eui" class="form-control"
                                        placeholder="Numero EUI" autocomplete="off">
                                    <div class="invalid-feedback">
                                        El EUI es invalido
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select id="model" class="form-control">
                                        <option value="" disabled selected hidden>Modelo</option>
                                        <option value="im880">im880</option>
                                        <option value="RN2903">RN2903</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button id="btnSubmit" class="btn btn-success btn-block">Añadir nodo</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<script defer src="/static/javascripts/app/addNode.js"></script>