<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Hola Nombre de trabajador</h1>
                <p>Tienes las siguientes tareas pendientes, Revisa las opciones que te tenemos</p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-2">
            </div>
        </div>
</div>
